@charset "ISO-8859-1";

h2 {
	text-align: center;
	font-size: 50px;
}

div {
	text-align: center;
}

p {
	font-size: 25px;
}

.radiogrp {
	width: 100px;
	display: inline-block;
}

.radiogrp label {
	display: block;
}

.number {
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	background-color: orange;
	text-align: center;
	width: 80px;
}

.question {
	text-align: center; 
	font-size: 30px;
}