@charset "ISO-8859-1";

body {
	background-image: url("duckburg2.jpg");
	background-color: #2e86c1;
	background-size: cover;
}

h1 {
	font-family: helvetica;
	position: relative;
	text-align: center;
	color: white;
	font-size: 80px;
	text-shadow: 8px 8px #000000;
	

}

form {
	text-align: center;

}



.button {
	width: 300px;
	font-family: helvetica;
	border: none;
	color: black;
	background-color: orange;
	padding: 30px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
	background-color: #d35400;
	color: white;
}