@charset "ISO-8859-1";


body {
	
	background-color: #6cc5d5;
	font-family: helvetica;
}

h1 {
font-family: helvetica;
	position: relative;
	text-align: center;
	color: white;
	font-size: 55px;
	text-shadow: 5px 5px #000000;
	
}

div{
	
	
	font-family: helvetica;
	position: relative;
	text-align: center;
	color: black;
	font-size: 30px;
	
}